import(methods)
import(stats)
import(parallel)

import(MASS)
import(mgcv)

export(LD, lethal.dose,
       get_x,
       confint)

S3method(lethal.dose, matrix)
S3method(LD, matrix)
S3method(lethal.dose, formula)
S3method(LD, formula)
S3method(lethal.dose, LD)
S3method(LD, LD)
S3method(lethal.dose, LDpred)
S3method(LD, LDpred)
S3method(print, LD)
S3method(print, LDmatrix)
S3method(print, LDconfint)
S3method(summary, LD)
S3method(coef, LD)
S3method(predict, LD)
S3method(confint, LD)
S3method(lethal.dose, LD)
S3method(get_x, default)
